@model IEnumerable<CapaEntidad.Producto>

@{
    Layout = "~/Views/Plantilla/View1.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {

        var prmNot = {
            type: 'danger',
            timer: 1000,
            z_index: 2000,
            animate: {
                enter: 'animated bounce',
                exit: 'animated bounce'
            },
            placement: {
                from: 'top',
                align: 'center'
            }
        };

        var prmNot2 = {
            type: 'alert alert-warning',
            timer: 1000,
            z_index: 2000,
            animate: {
                enter: 'animated bounce',
                exit: 'animated bounce'
            },
            placement: {
                from: 'top',
                align: 'center'
            }
        };
        var prmNot3 = {
            type: 'alert alert-success alert-dismissible fade show',
            timer: 1000,

            z_index: 2000,
            animate: {
                enter: 'animated bounce',
                exit: 'animated bounce'
            },
            placement: {
                from: 'top',
                align: 'center'
            }
        };

        $("#btnNuevo").click(function () {
            $("#nomcre").val('');
            $("#prcomcre").val('');
            $("#prvencre").val('');
            $("#stkactcre").val('');
            $("#stkmincre").val('');
            $("#descre").val('');
            $("#myModalCreate").modal({ backdrop: "static" }, { keyboard: false });
        });

        $("#myModalCreate").on("click", "#btnSendCreate", function () {

            let tipo = $("#tipocre").val();
            let tipotext = $("#tipocre option:selected").text();
            let nombre = $("#nomcre").val();
            let prcom = $("#prcomcre").val();
            let prvent = $("#prvencre").val();
            let stockact = $("#stkactcre").val();
            let stockmin = $("#stkmincre").val();
            let desc = $("#descre").val();

            //tipo, nombre, desc, prcom, prvent, stockact, stockmin

            let datasend = {
                tipo: tipo,
                nombre: nombre,
                desc: desc,
                prcom: prcom,
                prvent: prvent,
                stockact: stockact,
                stockmin: stockmin


            };


            $.ajax({
                url:'@Url.Action("CreateProducto", "Producto")',
                type: "POST",
                data: JSON.stringify(datasend),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(JSON.stringify(result) + typeof result);
                    if (result) {
                        $("#myModalCreate").modal("hide");
                        updateTableAjax();
                        var content = {};
                        content.message = 'El Cliente se registro correctamente ';
                        content.icon = 'icon la la-check';
                        $.notify(content, prmNot3)

                        setTimeout(function () {

                        }, 1000);
                    } else {
                        console.log('Ocurrio un error');
                    }

                },
                error: function (err) {
                    alert(err.statusText);
                }
               });
        });

        function updateTableAjax() {
           $.ajax({
                url:'@Url.Action("ListAjax", "Producto")',
                type: "POST",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(JSON.stringify(result));
                    let s = result;
                    console.log(s.length);
                    let i;
                    $(".m-datatable__body").empty();

                    for (i = 0; i <= s.length; i++) {
                        $(".m-datatable__body").append("<tr data-row='8' class='m-datatable__row m-datatable__row--even'>"
                            + `<td data-field='#' class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].idProducto}</span></td>`
                            + `<td data-field='Tipo' class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].Tipo}</span></td>`
                            + `<td data-field='Nombre'  class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].nombre}</span></td>`
                            + `<td data-field='Descripcion' class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].descripcion}</td>`
                            + `<td data-field='Precio Compra' class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].precioCompra}</td>`
                            + `<td data-field='Precio Venta' class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].precioVenta}</td>`
                            + `<td data-field='Stock Actual' class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].stockActual}</td>`
                            + `<td data-field='Stock Minimo' class="m-datatable__cell m-datatable__cell--sort"><span style='width: 110px;'>${result[i].stockMinino}</td>`
                            + "<td data-field='ACCIONES'  class='m-datatable__cell--center'><span style='width: 110px;'><button id='btnConsultar' class='m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill'><i class='flaticon-search-magnifier-interface-symbol'></i></button><button id='btnEditar' class='m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill'><i class='la la-edit'></i></button><button id='btnEliminar' class='m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill'><i class='la la-trash'></i></button></span></td></tr>");


                    };
                },
                error: function (err) {
                    console.log(err.statusText);
                }

            });
        }

    });

</script>

<a href="#" id="btnNuevo" class="btn btn-success"><i class="fa fa-plus"></i></a>
<table class="m-datatable" id="html_table" width="100%">
    <tr>
        <th>
            #
        </th>
        <th>
            Tipo
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Precio Compra
        </th>
        <th>
            Precio Venta
        </th>
        <th>
            Stock Actual
        </th>
        <th>
            Stock Minimo
        </th>

        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockMinino)
            </td>

            <td>

                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details" id="btnEditar">
                    <i class="la la-edit"></i>
                </a>
                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" id="btnEliminar">
                    <i class="la la-trash"></i>
                </a>
            </td>

        </tr>
    }

</table>
@Html.Partial("~/Views/Producto/modalCrear.cshtml")

